---
interface IProjectCard{
    title: string;
    imgUrl: string;
    category: string;
}
import ArrowRightIcon from "./icons/ArrowRightIcon.astro";
import processImage from "../utils/img-processor";
import {Image} from "astro:assets"
const {title, imgUrl, category} = Astro.props as IProjectCard;

---

<a href={`/projects/${title.toLowerCase().replaceAll(' ', '')}`} class="relative container overflow-hidden rounded-xl">
    <div class="arrow absolute z-10 w-12 rounded-full bg-dark-blue top-7 left-7 hidden md:block">
        <ArrowRightIcon className="text-yellow"/>
    </div>

    <!--<div class="img-container rounded-xl h-full">-->
        <Image class="img object-cover h-full" alt={title} src={processImage(imgUrl)} />
        <!--bg-[rgba(28,50,91,0.5)]-->
        <div class="detail bottom-[5%] md:opacity-0 md:-bottom-[15%] absolute bg-dark-blue w-[95%] md:w-11/12 left-1/2 -translate-x-1/2 py-2 md:py-3 px-5 md:px-7 rounded-lg flex flex-row justify-between">
            <h3 class="text-yellow font-light md:text-base text-xs">{title}</h3>
            <h3 class="text-yellow font-light md:text-base text-xs">{category}</h3>
        </div>
    <!--</div>-->
</a>

<style>
    *{
        transition: all ease-in-out .35s;
    }

    .img-container {
        //background: rgb(241,241,241);
        //background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(218,218,218,1) 100%);
        //background: rgb(241,241,241);
        //background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(127,183,208,1) 100%);
        //background: rgb(255,255,255);
        //background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(127,183,208,1) 100%);
        //background: rgb(255,255,255);
        //background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(251,221,127,1) 100%);
        transition: transform ease-in-out .3s;
        overflow: hidden;
    }

    .img{
        filter: grayscale(1);
    }

    .container:hover .img{
        transform: scale(1.05);
        //transition: all ease-in-out .3s;
    }

    .container:hover .detail{
        opacity: 1;
        bottom: 1.75rem;
    }

    .container:hover .img{
        filter: grayscale(0);
    }

    .arrow{
        opacity: 0;
        transform: scale(0.8);
    }

    .container:hover .arrow{
        opacity: 1;
        transform: rotate(-45deg) scale(1);
    }
</style>